
body{
 background-image: url("../img/ep_naturalwhite.png");
}
.social{
 position: fixed;
 top: 200px;
 left: 200px;
 z-index: 1000;

}
.dws-button{
 background-color: #3b5998;
 width: 100px;
 height: 40px;
 padding: 5px;
 transition: all 0.5s;
}
a{
 color: #ffffff;
 text-decoration: none;
}
a i.fa{
 font-size: 25px;
 text-align: center;
 display: block;
 transition: all 0.5s;
}
a i.fa-brands{
 font-size: 25px;
 text-align: center;
 display: block;
 transition: all 0.5s;
}

.dws-exit i.fa{
 font-size: 25px;
 text-align: center;
 display: block;
 transition: all 0.5s;
}
.dws-share{
 float: left;
 width: 40px;
}
.dws-text{
 float: right;
 font-size: 20px;
 position: relative;
 top: 2px;
 right: 5px;
}
.dws-vk {background-color: #507299;}
.dws-telegram {background-color: #33bdf1;}
.dws-blue {background-color: #1774e6;}
.dws-viber {background-color: #6130c4;}
.dws-whatsapp {background-color: #04b15a;}
.dws-exit {background-color: #000;
 color: #ffffff;
}

.dws-button{
 width: 40px;
 height: 40px;
 padding: 5px;
 overflow: hidden;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-items: center;
 margin-bottom: 5px;
}
.dws-button:hover{
 background-color: #000;
 width: 45px;
 height: 45px;
 padding: 10px;

}
.dws-button:hover  i.fa{
 font-size: 35px;
}
.dws-button:hover .fa-viber{
 font-size: 35px;
 transition: all 0.5s;
}

ul {
 list-style: none;
 padding: 0;

}

.dropdown-1{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100px;
}


/*Styling Selectbox*/
.dropdown {

 display: inline-block;
 transition: all .5s ease;
 position: relative;
 color: #474747;
 height: 100%;
 width: 100%;
 text-align: left
}
.dropdown .select {
 cursor: pointer;
 display: flex;
 padding: 10px;
}
.dropdown .select > i {
 cursor: pointer;
 transition: all .3s ease-in-out;
 float: right;
}
.dropdown.active .select > i {
 transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
 position: absolute;
 left: 0;
 overflow: hidden;
 display: none;
 overflow-y: auto;
 z-index: 9;

}
.fa-viber {
 font-size: 24px;
}


































